/* Base
============================================================================= */
@font-face {
  font-family: 'Cascadia Code';
  src: url('../font/CascadiaCode.woff2') format('woff2'), url('../font/CascadiaCode.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Cascadia Code';
  src: url('../font/CascadiaCodeItalic.woff2') format('woff2'), url('../font/CascadiaCodeItalic.ttf') format('truetype');
  font-style: italic;
}
:root {
  --base-background-color: #fff;
  --base-color: var(--mono-shade2);
  --base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --base-font-size: 16px;
  --base-font-weight: normal;
  --base-letter-spacing: ;
  --base-line-height: 1.7;

  /* Emoji */
  --emoji-size: calc(var(--base-line-height) * 1em);

  /* Horizontal Rule */
  --hr-border: 1px solid var(--mono-tint2);

  /* Mark */
  --mark-background: #ffecb3;
  --mark-color: ;

  /* Preformatted */
  --pre-font-family: var(--code-font-family);
  --pre-font-size: var(--code-font-size);
  --pre-font-weight: normal;
  --pre-line-height: ;

  /* Selection */
  --selection-color: #b4d5fe;

  /* Small */
  --small-font-size: var(--font-size-s);

  /* Strong */
  --strong-color: var(--heading-color);
  --strong-font-weight: 600;

  /* Sub/Sup */
  --subsup-font-size: var(--font-size-s);
}
